<div class="container content-section">
        <div class="row">
          <div class="col-md-4">
            <h1>Bottoms</h1>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <p>Add Bottom: <input type="file" id="capture" accept="image/*; capture=camera"></p>
          </div>
          <span id="status"></span>
          
        </div>

    </div>

<br>

<%= link_to 'New Bottom', new_bottom_path %>
