    <div class="container content-section">
        <div class="row">
            <%= button_to "Tops", tops_path, :method => "get" %>
            <%= button_to "Bottoms", bottoms_path, :method => "get" %>
          
          <!-- Shows success status when event is added -->
      		<span id="status"></span>
          
        </div>

    </div>


    <!-- Footer -->
    <footer>
        <div class="container text-center">

        </div>
    </footer>

</body>